@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: Roboto;
  background: #f5fffa;
}

.navbar {
  background: #f5fffa;
}

#title {
  font-family: Roboto;
  text-align: center;
  font-weight: bold;
  color: #4068b7;
}

#authors {
  font-family: Roboto;
  text-align: center;
  color: #4068b7;
}

h1, h2, h3 {
  color: #4068b7;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

p {
  font-size: 14px;
  color: #4068b7;
}

a {
  color: #FF9A33;
}

svg {
  color: #4068b7;
}

.plot {
  display: block;
  margin: 0 auto;
}
#footer {
  margin-top: 100px;
  margin-bottom: 0px;
  font-size: 10;
  text-align: center;
  color: #4068b7;
}

#mailman {
  margin: 0;
  display: block;
  height: 200px;
  width: auto;
  margin: 0 auto;
}